<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  {%load static%}
  <link rel="stylesheet" href="{%static 'Book.css'%}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>

<body>
    <nav>
        <div class="nav-logo">
            <a href="#"><img src="{% static 'images/clinic.png' %}"></a>
        </div>
        <ul class="nav-link">
            <li class="link"><a href="{% url 'index' %}">Home</a></li>
            <li class="link"><a href="{% url 'service' %}">Facilities</a></li>
            {% if user.is_authenticated %}
                <!-- If the user is authenticated, link to the patient profile -->
                <li class="link"><a href="{% url 'profile' %}">Profile</a></li>
            {% else %}
                <!-- If the user is not authenticated, link to the authentication page -->
                <li class="link"><a href="{% url 'auth' %}">Profile</a></li>
            {% endif %}
            <li class="link"><a href="service.html">Service</a></li>
            <li class="link"><a href="#">About</a></li>
            <li class="link"><a href="#">Reviews</a></li>
        </ul>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="btn">Logout</button></a>
        {% else %}
            <a href="{% url 'auth' %}"><button class="btn">Login</button></a>
        {% endif %}
    </nav><br><br>



    <div class="overlay">

    <div class="loginform">
        <span class="close">&times;</span>
        <form>
        {% csrf_token %}
        <div>
            <label for="">Username</label>
            <input type="text">
        </div>
        <div>
            <label for="">Password</label>
            <input type="text">
        </div>
        <button type="submit">Login</button>
        </form>
    </div>
        </div>



    <br><br>


    <div class="wow">
        <!-- <div class="side-box">
        </div> -->
        <div class="adjust">
            <div class="middle-box">
                <div class="card-image">
                    <img src="{% static 'images/Doc1.webp' %}" class="card-img" alt="">
                </div>
                <div class="profile-info">
                    <div class="profile-info1">
                        <div>
                            <h2>Dr. {{ therapist.user.username }}</h2>
                        </div>
                        <div>
                            <h4><em>{{ therapist.specialization }}</em></h4>
                        </div>
                    </div>
                    <div class="profile-info2">
                        <div class="price">Rs 9000</div>
                        <div>MBBS, FCPS (Internal Medicine), Certified Diabetologist (UK) , Certified Hypertension
                            Specialist (PSIM)</div>
                    </div>
                </div>
                <button class="book-button btn-login1">Book Consultation</button>
            </div>
        </div>
    </div>

    <div class="overlay1">
        <div class="bookform">
            <span class="close1">&times;</span>
            <form method="post" action="{% url 'book' therapist_id=therapist.id %}">
                {% csrf_token %}
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="{{ user.username }}" readonly required>
                </div>
                <div>
                    <label for="phone_number">Phone Number</label>
                    <input type="tel" id="phone_number" name="phone_number" required>
                </div>
                <div>
                    <label for="session_type">Session Type</label>
                    <input type="text" id="session_type" name="session_type" required>
                </div>
                <div>
                    <label for="time_slot">Time Slot</label>
                    <select id="time_slot" name="time_slot" required>
                        {% for day in next_three_days %}
                            {% for time in time_slots %}
                                <option value="{{ day|date:'Y-m-d' }} {{ time }}">{{ day|date:"l, F d, Y" }} {{ time }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
        
                <label for="payment_method">Choose payment method</label>
                <select id="payment_method" name="payment_method">
                    <option value="easypaisa">Easypaisa</option>
                    <option value="jazzcash">JazzCash</option>
                    <option value="bank_payment">Nayapay</option>
                    <option value="other">Other</option>
                </select>

        <button type="submit" id="bookSubmit">Book</button>
        </form>
    </div>
</div>



    <br><br>
    <div class="para"><center><h3>About</h3></center><br>
        Diagnostic Expertise: Utilizing state-of-the-art diagnostic tools, Dr. Arif Alvi excels in identifying
        and understanding neurological conditions. From headaches and seizures to movement disorders, each case is
        approached with meticulous attention to detail.

        Treatment Tailored to You: Dr. Arif Alvi believes in personalized care plans, recognizing that each
        patient is unique. Whether managing chronic conditions or providing acute interventions, the treatment approach
        is carefully tailored to optimize outcomes and improve quality of life.

        Neurological Consultations: Offering thorough neurological consultations, Dr.Arif Alvi ensures open
        communication with patients, addressing concerns and educating them about their conditions. This collaborative
        approach empowers individuals to actively participate in their healthcare journey.
    </div>


    <section class="review"><br><br>
        <center>
          <h1>Reviews and Ratings</h1>
        </center>
    
        <div class="sec_container review_container">
          <span><i class="ri-double-quotes-r"></i></span>
          <div class="review_content">
            <h4>MEMBER REVIEW</h4>
            <p>
              I visited this clinic for the first time and I'm thoroughly impressed. The staff was welcoming, the facilities
              were modern and clean, and the doctor was attentive and knowledgeable. My concerns were addressed with care,
              and I left feeling reassured about my health. Highly recommended!
            </p>
            <div class="review_rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
            </div>
            <div class="review_footer">
              <div class="review_member">
                <img src="{% static 'images/men.jpg' %}" alt="member" />
                <div class="review_member_details">
                  <h4>Abdullah Naveed</h4>
                  <p>Network Consultant</p>
                </div>
              </div>
            <!-- <div class="review_arrow">
                <span><i class="ri-arrow-left-line"></i></span>
                <span><i class="ri-arrow-right-line"></i></span>
              </div>-->
            </div>
          </div>
        </div>
      </section>


      <footer class="sec-p1">
        <div class="c1">
          <img style="width: 16%;" src="{% static 'images/clinic.png' %}" alt="logo">
          <h3>Contact</h3>
          <p><Strong>Telephone:</strong>0900-78601</p>
          <p><strong>Address</strong> Street California , USA</p>
          <h2>Social Sites</h2>
          <div class="social">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
    
        <div class="c1">
          <h3>About</h3>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Rules & Regulations</a>
        </div>
    
        <div class="c1">
          <h3>My Account</h3>
          <a href="#">Sign in</a>
          <a href="#">MyAppointments</a>
          <a href="#">Help</a>
        </div>
        
    
    
      </footer>

</body>
<script src="{% static 'booking.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the form and submit button
        const bookingForm = document.getElementById('bookingForm');
        const bookSubmit = document.getElementById('bookSubmit');

        // Add an event listener to the form submission
        bookingForm.addEventListener('submit', function(event) {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Manually submit the form using JavaScript
            bookingForm.submit();
        });
    });
</script>
</html>