<!-- feedback_form.html -->
{% extends 'base_feedback_form.html' %}

{% block title %}Patient Feedback Form{% endblock %}
{% block heading %}Patient Feedback Form{% endblock %}

{% block content %}
    {% for question in questions %}
        <label for="{{ question.question|slugify }}">{{ question.question }}</label>

        {% if question.options %}
            <select id="{{ question.question|slugify }}" name="{{ question.question|slugify }}" required>
                {% for option in question.options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select><br><br>
        {% else %}
            <textarea id="{{ question.question|slugify }}" name="{{ question.question|slugify }}" required></textarea><br><br>
        {% endif %}
    {% endfor %}
{% endblock %}
