<!-- feedback_form.html -->
{% extends 'base_feedback_form.html' %}

{% block title %}Patient Feedback Form{% endblock %}
{% block heading %}Patient Feedback Form{% endblock %}

{% block content %}
{% for question in questions %}
<form method="post">
     {% csrf_token %}


<!--    {% for message in messages %}-->
<!--        <div class="{{ message.tags }}">-->
<!--            {{ message }}-->
<!--        </div>-->
<!--    {% endfor %}-->

        <label for="answer{{ forloop.counter }}">{{ question.question }}</label>

        {% if question.options %}
            <select id="answer{{ forloop.counter }}" name="answer{{ forloop.counter }}" required>
                {% for option in question.options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select><br><br>
        {% else %}
            <textarea id="answer{{ forloop.counter }}" name="answer{{ forloop.counter }}" required></textarea><br><br>
                    <input type="submit" value="Submit">
        {% endif %}
    {% endfor %}
{% endblock %}
