<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Patient Feedback Form</title>
  <link href="{% static 'feedback_form.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Patient Feedback Form</h1>
  <form method="post">
    {% csrf_token %}

      {% for question in questions %}
    <label for="{{ question.question|slugify }}">{{ question.question }}</label>

    {% if question.options %}
      <select id="{{ question.question|slugify }}" name="{{ question.question|slugify }}" required>
        {% for option in question.options %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select><br><br>
    {% else %}
      <textarea id="{{ question.question|slugify }}" name="{{ question.question|slugify }}" required></textarea><br><br>
    {% endif %}
  {% endfor %}

    <input type="submit" value="Submit">
  </form>
</body>
</html>
