<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile.css' %}">
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="#"><img src="{% static 'images/clinic.png' %}"></a>
        </div>
        <ul class="nav-link">
            <li class="link"><a href="{% url 'index' %}">Home</a></li>
            <li class="link"><a href="{% url 'service' %}">Facilities</a></li>
            <li class="link"><a href="{% url 'sessions' %}">Service</a></li>
            <li class="link"><a href="#">About</a></li>
            <li class="link"><a href="#">Reviews</a></li>
            <li class="link"><a href="#">Training</a></li>
        </ul>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-login">Logout</button>
        </form>
    </nav>
    <br><br>

    <div class="overlay"></div>

    <div class="loginform">
        <span class="close">&times;</span>
        <form>
            <div>
                <label for="">Username</label>
                <input type="text">
            </div>
            <div>
                <label for="">Password</label>
                <input type="text">
            </div>
            <button>Login</button>
        </form>
    </div>

    <div class="wow">
        <div class="side-box">
            <div class="card-image">
                <img src="./images/Doc1.webp" class="card-img" alt="">
            </div>
            <div class="list">
                <a href="#about">
                    <div>About</div>
                </a>
                <a href="#booked-sess">
                    <div>Sessions</div>
                </a>
                <a href="#about">
                    <div>Update</div>
                </a>
                <a href="#about">
                    <div>reviews</div>
                </a>
            </div>
        </div>

        <div class="adjust"><br>
            <div style="margin-top:5px; margin-left: 350px;" id="about">
                <h1>User Profile</h1>
            </div>
            <br><br>
            <div class="middle-box">
                <div class="profile-info">
                    <div class="profile-info1">
                        <div style="display: flex;">
                            <h4>Name: </h4> {{ user.username }}
                        </div>
                        <div style="display: flex;">
                            <h4>Contact:</h4>{{ user.patient.phone_no }}
                        </div>
                        <div style="display: flex;">
                            <h4>Email: </h4>{{ user.patient.email }}</div>
                        <div>
                            <h4>Gender: </h4><em>{{ user.patient.gender }}</em>
                        </div>
                        <div>
                            <h4>Date of Birth: </h4><em>{{ user.patient.dob }}</em>
                        </div>
                        <div>
                            <h4>Age: </h4><em>{{ user.patient.age }}</em>
                        </div>
                    </div>
                </div>
            </div>
            <div id="booked-sess" style="margin-left: 330px; margin-top: 10px;">
                <h1>Booked Sessions</h1>
            </div>
         <div class="bs">
            {% for booked_sessions in booked_sessions %}
            <div class="bst">
                <div class="bst-content">
                    <h3>{{ booked_sessions.session_type }}</h3>
                    <h4>Therapist: {{ booked_sessions.therapist.user.username }}</h4>
                    <h4>Date:</h4>
                    <h5>{{ session.date_time|date:"d-M-Y" }}</h5>
                    <h6>Timing: {{ booked_sessions.date_time|time:"h:i" }} - {{ booked_sessions.date_time|time:"h:i" }}</h6>
                </div>
                <div>
                        <form method="post" action="{% url 'remove_session' session.id %}">
                            {% csrf_token %}
                            <button id="bokey" type="submit">Remove</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <br>

    <footer class="sec-p1">
        <div class="c1">
            <img style="width: 16%;" src="./images/clinic.png" alt="logo">
            <h3>Contact</h3>
            <p><Strong>Telephone:</strong>0900-78601</p>
            <p><strong>Address</strong> Street California , USA</p>
            <h2>Social Sites</h2>
            <div class="social">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>

        <div class="c1">
            <h3>About</h3>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Rules & Regulations</a>
        </div>

        <div class="c1">
            <h3>My Account</h3>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
            <a href="#">MyAppointments</a>
            <a href="#">Help</a>
        </div>
    </footer>

</body>
<script src="{% static 'app.js' %}"></script>

</html>
