<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>session</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
          <a href="#"><img src="{% static 'images/clinic.png' %}"></a>
        </div>
            <ul class="nav-link">
              <li class="link"><a href="{% url 'index' %}">Home</a></li>
              <li class="link"><a href="{% url 'service' %}">Facilities</a></li>
                {% if user.is_authenticated %}
                    <!-- If the user is authenticated, link to the patient profile -->
                    <li class="link"><a href="{% url 'profile' %}">Profile</a></li>
                {% else %}
                    <!-- If the user is not authenticated, link to the authentication page -->
                    <li class="link"><a href="{% url 'auth' %}">Profile</a></li>
                {% endif %}
              <li class="link"><a href="#">About</a></li>
              <li class="link"><a href="#">Training</a></li>

            </ul>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="btn">Logout</button></a>
        {% else %}
            <a href="{% url 'auth' %}"><button class="btn">Login</button></a>
        {% endif %}
    </nav><br><br>

    <div class="overlay"></div>

    <div class="loginform">
        <span class="close">&times;</span>
        <form>
            <div>
                <label for="">Username</label>
                <input type="text">
            </div>
            <div>
                <label for="">Password</label>
                <input type="text">
            </div>
            <button>Login</button>
        </form>
    </div>

    <section class="sec_container price_container">
        <h2 class="sec_header">OUR SPECIAL PACKAGES</h2>
        <p class="sec_subheader1">
            Unlock Extraordinary Value with Our Exclusive Special Packages!
        </p>
        <div class="price_grid">
            {% for therapist in therapists %}
            <div class="price_card">
                <div class="price_card_content">
                    <h4>{{ therapist.user.username }}</h4>
                    <div class="card-image">
                        <img src="{% static 'images/Doc1.webp' %}" class="card-img" alt="">
                    </div>
                    <h3>Rs.{{ session.price }}</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Specialization: {{ therapist.specialization }}
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Review: 4.5/5
                    </p>
                </div>
                {% if user.is_authenticated %}
                    <a href="{% url 'service' %}" onclick="showConfirmationOverlay('{{ session.facility }}')"><button class="btn price_btn">Book Now</button></a>
                {% else %}
                    <a href="{% url 'auth' %}"><button class="btn price_btn">Login to Book</button></a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
</body>
<script src="{% static 'app.js' %}"></script>
</html>
