<!-- provide_feedback.html -->
{% extends 'base_feedback_form.html' %}

{% block title %}Therapist Feedback Form{% endblock %}
{% block heading %}Therapist Feedback Form{% endblock %}

{% block content %}

<form method="post" action="{% url 'provide_feedback' feedback_id=patient_feedback.id %}">
    {% csrf_token %}
    <label>How would you rate your overall satisfaction with the session?</label>
    <p>{{ patient_feedback.answer1 }}</p>

    <label>What specific aspects of the session did you find most helpful?</label>
    <p>{{ patient_feedback.answer2 }}</p>

    <label>Were there any challenges or concerns during the session?</label>
    <p>{{ patient_feedback.answer3 }}</p>

    <label>How well did the therapist address your needs and concerns?</label>
    <p>{{ patient_feedback.answer4 }}</p>

    <label>Do you feel more positive or optimistic after the session?</label>
    <p>{{ patient_feedback.answer5 }}</p>


    <label for="therapist_description">Therapist's Description</label>
    <textarea id="therapist_description" name="therapist_description" required></textarea><br><br>

    <input type="submit" value="Submit">
</form>
{% endblock %}
