<!-- therapist_feedback_form.html -->
{% extends 'base_feedback_form.html' %}

{% block title %}Therapist Feedback Form{% endblock %}
{% block heading %}Therapist Feedback Form{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    {% for feedback in pending_feedback %}
      <label for="{{ feedback.id|slugify }}">{{ feedback.question }}</label>

      {% if feedback.options %}
        <select id="{{ feedback.id|slugify }}" name="answer_{{ feedback.id }}" required>
          {% for option in feedback.options %}
            <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select><br><br>
      {% else %}
        <textarea id="{{ feedback.id|slugify }}" name="answer_{{ feedback.id }}" required></textarea><br><br>
      {% endif %}

      <!-- Add a new field for therapist's description -->
      <label for="description">Therapist's Description:</label><br>
      <textarea id="description_{{ feedback.id }}" name="description_{{ feedback.id }}" rows="4" cols="50" required></textarea><br><br>
    {% endfor %}

    <input type="submit" value="Submit Feedback">
  </form>
{% endblock %}
